[gcode_macro TEST_ACCEL]
description: Test maximum acceleration capabilities of the printer
gcode:

    # Speed Parameter
    {% set speed = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    SET_VELOCITY_LIMIT VELOCITY={speed}

    # Acceleration Parameters
    {% set start_accel = params.START_ACCEL|default(5000)|int %}
    {% set end_accel  = params.END_ACCEL|default(10000)|int %}
    {% set accel_step = params.ACCEL_STEP|default(1000)|int %}
    
    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_ACCEL
    
    # Conditional homing and quad gantry level
        CG28
        CQGL

    # Go to starting position
    G0 X{printer.toolhead.axis_minimum.x} Y{printer.toolhead.axis_minimum.y} Z{30} F{speed*60}
     
    # Perform tests 
    {% for i in range(((end_accel - start_accel)/accel_step + 1)|int) %}

        SET_VELOCITY_LIMIT ACCEL={start_accel + accel_step * i} ACCEL_TO_DECEL={((start_accel + accel_step * i)/2)|int}
        CONSOLE_MESSAGE MSG="Testing at {start_accel + accel_step * i} mm/s^2, and {speed} mm/s"
        
        LARGE_PATTERN
        SMALL_PATTERN

    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel} 

    # Re-home for end of test
        PARK_TOOLHEAD

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_ACCEL